# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
dist
dist-ssr
build
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
