.pager {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #16efa4; /* 비활성화된 페이징 색상 */
    border-radius: 50%;
    margin: 0 4px; /* 각 페이징 사이의 간격 */
    transition: background-color 0.3s;
  }
  .swiper-pagination-bullet-activ:focus {
    border: 2px solid #ccc;
  }
}
